@import "tailwindcss";


.color-table-1 {
  background-color: #E2DFD0 !important;
}

.color-table-2 {
  background-color: #FEB941 !important;
}

.color-table-3 {
  background-color: #6DC5D1 !important;
}

.color-table-4 {
  background-color: #ACE1AF !important;
}

.color-table-5 {
  background-color: #FDE49E !important;
}
